body{
    width: 100%;

    background-image: url(./images/pattern-backgrounddesktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #E0E8FF;
    font-family: 'Red Hat Display', sans-serif;
}
.back{
   position: relative;
   width: 400px;
   height: 550px;
   background-color: seashell;
   margin: 30px auto ;
   border-radius: 20px;
   text-align: center;
   font-weight: lighter;
   background-attachment: fixed;
   box-shadow: 0px 20px 0px 0px hsl(228, 45%, 44%,0.07);
}
.hero{
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0px;

}
h1{
    margin-bottom: 10px ;
    color: #253358;
    margin-top: 30px;
    font-size: 1.5em;
}
h4{
    margin:0;
}
.content{
      width: 300px;
      margin: 10px auto;
      font-size:15px;
      color: hsl(224, 23%, 55%);
      font-weight: 400;

      
}
.in_block{
    background-color:#F8F9FE ;
    width: 300px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin: 10px auto 10px auto;
    text-align: left;

}
.icon{
    float: left;
    margin: 15px 15px;
    width: 40px;
}
.texr{
    color:#1C2546 ;
    padding: 6px 0 3px 0;
    margin: 0;
    font-size: 0.75rem;
}
.tex{
    margin: 0;
    font-size: 0.75em;
    color: #7D8296 ;
}
.texw{
    padding: 10px;
    text-align: left;
}
.ch{
    text-decoration: none;
    position: relative;
    text-align: right;
    color: #7D73D3 ;
    font-size: 0.85em;
    bottom : 22px;
    right: 10px;
    background-color: inherit;
    font-family: inherit;
    font-weight: 500;


}
.ch:hover{

    font-weight: 700;
}
.btn { 
    top: 20px;
    position: relative;
    top:25px;
    background: #382AE1;
    background-image: -webkit-linear-gradient(top, #382AE1, #3828E0);
    background-image: -moz-linear-gradient(top, #382AE1, #3828E0);
    background-image: -ms-linear-gradient(top, #382AE1, #3828E0);
    background-image: -o-linear-gradient(top, #382AE1, #3828E0);
    background-image: linear-gradient(to bottom, #382AE1, #3828E0);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    -webkit-box-shadow: 0px 16px 11px #E7E5FB;
    -moz-box-shadow: 0px 16px 11px #E7E5FB;
    box-shadow: 0px 16px 11px #E7E5FB;
    font-family: inherit;
    color: #ffffff;
    font-size: 15px;
    padding: 11px 70px 11px 70px;
    text-decoration: none;
  }
  
  .btn:hover {
    background:  #766CF1;
    text-decoration: none;
    font-weight: 700;
  }
  .cen{
      font-family: inherit;
      text-decoration: none;
      position: absolute;
      bottom: 30px;
      left: 155px;
      color: hsl(224, 23%, 55%);
      text-decoration: solid;
      font-size: 0.80rem;

  }
  .cen:hover{
      color: #253358;
      font-weight: 700;
  }
  @media (min-width: 375px) {
      body{
          background: url(./images/pattern-backgrounddesktop.svg) no-repeat center/cover;
          height: 50vh;
          background-color: #E0E8FF;
      }
      
  }
